<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web322 App</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="/js/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar">
                    <li> <a href="/"> Home </a> </li>
                    <li> <a href="/about"> About </a> </li>
                    {{#if session.user}}
                    <li> <a href="/employees"> All Employees </a> </li>
                    <li> <a href="/managers"> Managers </a> </li>
                    <li> <a href="/departments"> Departments </a> </li>
                </ul>
                <span class="pull-right"><div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
    <span class="glyphicon glyphicon-user"></span>{{session.user.username}}&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a data-toggle="modal" data-target="#profileModal" href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-off"></span>Log Out</a></li>
                </ul>
            </div>
            </span>
            {{else}}
            <span class="pull-right"><a class="btn btn-success"
href="/login">&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</a> <a class="btn btn-primary"
href="/register">&nbsp;&nbsp;&nbsp;Register&nbsp;&nbsp;&nbsp;</a></span> {{/if}}

        </div>
        </div>
    </nav>
    </div>



    <div class="container">
        <div class="col-lg-12 col-md-12 content">
            {{{body}}}
        </div>
    </div>

    {{#if session.user}}
    <!-- Profile Modal -->
    <div class="modal" id="profileModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="profileModalTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form onsubmit="requestPasswordChange('{{session.user.username}}'); return false;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span ariahidden="true">&times;</span></button>
                        <h4 class="modal-title" id="profileModalTitle">Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 hide" id="passwordChangeError">
                                    <div class="alert alert-danger"></div>
                                </div>

                                <div class="col-md-12 hide" id="passwordChangeSuccess">
                                    <div class="alert alert-success"></div>
                                </div>


                                <div class="form-group">
                                    <label>User Name:</label>
                                    <input type="text" disabled class="form-control" value="{{session.user.username}}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Update Password:</label>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="password" class="passwordReset form-control" id="currentPassword" placeholder="Current Password">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="password" class="passwordReset form-control" id="password" placeholder="New Password">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="password" class="passwordReset form-control" id="password2" placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="col-md-12 hide" id="passwordChangeError">
                                <div class="alert alert-danger"></div>
                            </div>
                            <div class="col-md-12 hide" id="passwordChangeSuccess">
                                <div class="alert alert-success"></div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/if}}


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-
BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-
Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>
    <script src="js/javascript.js"></script>
</body>

</html>